<div class="container">
  <div class="row">
    <div class="col-md-11 col-sm-12">
      <h5 class="mt-4 col-md-2 py-1 text-center">マイページ</h5>

      <div>
        <strong>登録情報</strong>
        <%= link_to "編集する", edit_customers_path, class: "btn btn-success btn-sm px-4 m-3" %>
      </div>

      <table class="table table-bordered table-sm col-md-8 col-sm-12">
        <tr>
          <td class="table-active col-md-3 col-sm-5">氏名</td>
          <td><%= @customer.name_s %></td>
        </tr>
        <tr>
          <td class="table-active">かな</td>
          <td><%= @customer.name_kana_s %></td>
        </tr>
        <tr>
          <td class="table-active">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-active">住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-active">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-active">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </table>

      <div class="col-md-4 col-sm-12">
        <table class="table table-borderless table-sm">
          <tr>
            <td><strong>配送先</strong></td>
            <td><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm px-4 ml-5" %><br></td>
          </tr>
          <tr>
            <td><strong>注文履歴</strong></td>
            <td><%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm px-4 ml-5" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
