<div class="container">
  <div class="row">
    <div class="">
      <h5>ジャンル一覧・追加</h5>

      <div class="form-group">
        <%= form_with model: @genre, url: "/admin/genres", method: :post, local: true do |f| %>
          <%= f.label :name, "ジャンル名" %>
          <%= f.text_field :name %>
          <%= f.submit "新規登録", class: "btn btn-success btn-sm px-4" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="">
      <table class="table table-sm">
        <tr>
          <th class="table-active">ジャンル</th>
        </tr>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= genre.name %>
              <%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success btn-sm px-4" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
