<div class="container mb-5 pb-5">
  <div class="row">
    <div class="col-md-10 mx-auto my-5 pb-5">
      <h5 class="mt-4 col-md-3 py-1 text-center">商品詳細</h5>
      <div class="row">
        <div class="col-md-4 mt-3">
          <%= image_tag @item.get_image(280,250) %>
        </div>
        <div class="col-md-6 mt-4">
          <strong><%= @item.name %></strong><br>
          <%= @item.introduction %><br>
          <br>
          <strong>￥<%= @item.with_tax_price %>(税込)</strong>

          <div>
            <% if @item.errors.any? %>
              <%= @item.errors.count %>errors
              <ul>
                <%= @item.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <%= form_with model: @cart_item, url: '/cart_items', method: :post, local: true do |f| %>
            <div class="form-group">
              <% if customer_signed_in? %>
                <%= f.hidden_field :item_id, :value => @item.id, class: "form-control" %>
                <%= f.select :amount, *[1..10], {include_blank: "個数選択"}, class: "form-control-sm" %>
                <%= f.submit "カートに入れる", class: "btn btn-success btn-sm px-3 ml-5" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
